<!doctype html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>AngularJS1 Search Select demo</title>

    <!-- TODO: Include Angular from Bower components -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="../dist/_search-select.css">
    <link rel="stylesheet" href="demo.css">
  </head>
  <body>
    <div class="container" ng-controller="MainController as main">
      <h1 class="text-muted">Demo</h1>

      <div class="usage row" >
        <h3>Basic example:</h3>
<pre>
  &lt;search-select
    ng-model="main.currentFruitOption"
    options="main.fruitOptions"
    option-label-keys="name"
    placeholder-text="Select Fruit"
    font-awesome-icon="fa-lemon-o"&gt;
  &lt;/search-select&gt;
</pre>
        <h3>Results in:</h3>
        <search-select
          ng-model="main.currentFruitOption"
          options="main.fruitOptions"
          option-label-keys="name"
          placeholder-text="Select Fruit"
          font-awesome-icon="fa-lemon-o">
        </search-select>
      </div>

      <div class="usage row">
        <h3>Example with multiple label-keys:</h3>
<pre>
  &lt;search-select
    ng-model="main.currentUserOption"
    options="main.userOptions"
    option-label-keys="first_name last_name"
    placeholder-text="Select User"
    font-awesome-icon="fa-user"&gt;
  &lt;/search-select&gt;
</pre>
        <h3>Results in:</h3>
        <search-select
          ng-model="main.currentUserOption"
          options="main.userOptions"
          option-label-keys="first_name last_name"
          placeholder-text="Select User"
          font-awesome-icon="fa-user">
        </search-select>
      </div>

      <div class="bottom-spacer"></div>
    </div>

    <script src="../dist/search-select.directive.js"></script>
    <script src="demo.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
  </body>
</html>
