<div class="search-select-container"
  ng-class="{'disabled': searchSelect.disabled}">
    <div class="ss-input-container"
    ng-class="{'container-expanded': searchSelect.isOptionSelected()}">
    <div class="cover-base"
      ng-class="{'cover-expanded': searchSelect.isOptionSelected()}">
      {{searchSelect.placeholderText}}
    </div>
    <input name="search_string" type="text"
      class="input-base"
      placeholder="{{searchSelect.placeholderText}}"
      autocomplete="off"
      ng-class="{'input-expanded': searchSelect.isOptionSelected()}"
      ng-model="searchSelect.searchString"
      ng-focus="searchSelect.ssFocus()"
      ng-keyup="searchSelect.searchOptions()"
      ng-blur="searchSelect.ssBlur()"
      ng-disabled="searchSelect.disabled"
      ng-required="searchSelect.required">
    <i class="icon-base fa"
      ng-class="{'icon-expanded': searchSelect.isOptionSelected(), '{{searchSelect.fontAwesomeIcon}}': true}"></i>
  </div>

  <div class="results-container" ng-show="searchSelect.searching">
    <ul id="option-list" class="option-list" ng-show="searchSelect.filteredOptions.length > 0">
      <li id="option-list-item-{{$index}}" class="option-list-item"
        ng-class="{'kb-focused': searchSelect.keyboardFocusIndex === $index}"
        ng-repeat="option in searchSelect.filteredOptions track by $index"
        ng-mousedown="searchSelect.selectOption(option)"
        ng-bind-html="option.ss_display_html">
      </li>
    </ul>
  </div>
</div>
